@model RentalSystems.Models.Admintable

@{
    ViewData["Title"] = "AdminLogin";
    Layout = "AdminLayout";
}

<h1>AdminLogin</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminId" class="control-label"></label>
                 <i class="fa-solid fa-person"></i>
                <input asp-for="AdminId" class="form-control" />
                <span asp-validation-for="AdminId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPassword" class="control-label"></label>
                <i class="fa-solid fa-key"></i>
                <input asp-for="AdminPassword" type="password" class="form-control" />
                <span asp-validation-for="AdminPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminLogin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
