@{
    ViewData["Title"] = "Tariffs";
    Layout = "Homepage";
}

<h1>Bike rental tariffs in Hyderabad</h1>

    <div class="card-group">
        <div class="card">
  <img src="~/css/locate.png" class="card-img-top" alt="RE">
  <div class="card-body">
    <h5 class="card-title">Location</h5>
    <p class="card-text"> Madhapur,Guttala Begumpet, 
                          Hyderabad
                          India - 212601
    </p>
  </div>
 </div>
 
 
 <div class="card">
  <img src="~/css/message.jpg" class="card-img-top" alt="RE">
  <div class="card-body">
    <h5 class="card-title">PROs</h5>
    <p class="card-text"> 
        <a href="#">Sales team</a>
        <a href="#">Support team</a>
    </p>
  </div>
 </div>
 
 <div class="card">
  <img src="~/css/calling.jpg" class="card-img-top" alt="RE">
  <div class="card-body">
    <h5 class="card-title">Contact</h5>
    <p class="card-text"> 
        <i class="fa-solid fa-phone"></i> +91 63792 80820
        Contact Hours:  9.00 am to 8.00 pm
    </p>
  </div>
 </div>
 </div>

