<div class="row-g-5">
    <h4 class="mb-3">Send Email</h4>
    <form method="post" asp-controller="Home" asp-action="Email">
        <div class="row-g-3">
<div class="col-12">
    <input class="form-control" type="text" name="to" placeholder="Send to" required/>
    
</div>  
<div class="col-12">
    <input class="form-control" type="text" name="subject" placeholder="Subject" required/>
    
</div>  
<div class="col-12">
    <input class="form-control" type="text" name="body" placeholder="Message" required/></textarea>
    
</div>  
<div class="col-12">
    <input type="submit" value="Submit" />
    
        </div>
        </div>

    </form>

</div>