@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "Homepage";

}
<div class="text-center">
     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img class="d-block w-100" src="~/css/Ducati.jpg" alt="First slide" width="200" height="400">
      <div class="carousel-caption d-none d-md-block">
      <h1>Hello All</h1>   
   <h3> <marquee>Self Bike Rental</marquee>
   <marquee direction="left to right" >
       
        Affordable Prices
    </marquee></h3>

        <h3>RENT TODAY OWN TOMORROW</h3>
        <h3>GO HIGH MILES</h3>
       </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/css/Duke.jpg" alt="Second slide" width="200" height="400" >
      <div class="carousel-caption d-none d-md-block">

        <h3>FLEXIBLE RENTAL</h3>
        <h3>EXPERIENCED DRIVERS</h3>
       </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/css/RoyalEnfield.jpg" alt="Third slide" width="200" height="400">
      <div class="carousel-caption d-none d-md-block">
        <h3>PRICE MATCH GUARANTEES</h3>
        <h3>SOCIALIZED VEHICLE</h3>
       </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>
    

</div>


@*<style>
 .hero{
         width:100%;
         height:100vh;
         background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
         position:relative;
         padding:0.5%;
         display:flex;
         align-items:center;
         justify-content:center;
         }
         .back-video{
             position:absolute;
             right:0;
             bottom:0;
             z-index=-1;
         }
</style>
<div class="hero">
    <video autoplay loop muted plays-inline class="back-video">
        <source src="~/css/video.mp4" type="video/mp4">
    </video>
</div>*@


@*<div class="text-center">
     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img class="d-block w-100" src="~/css/RE350.jpg" alt="First slide" width="200" height="400">
      <div class="carousel-caption d-none d-md-block">
   <h3> <marquee>Self Bike Rental</marquee>
   <marquee direction="left to right" >
       
        Affordable Prices
    </marquee></h3>

        <h3>RENT TODAY OWN TOMORROW</h3>
        <h3>GO HIGH MILES</h3>
       </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/css/Duke.jpg" alt="Second slide" width="200" height="400" >
      <div class="carousel-caption d-none d-md-block">

        <h3>FLEXIBLE RENTAL</h3>
        <h3>EXPERIENCED DRIVERS</h3>
       </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/css/RoyalEnfield.jpg" alt="Third slide" width="200" height="400">
      <div class="carousel-caption d-none d-md-block">
        <h3>PRICE MATCH GUARANTEES</h3>
        <h3>SOCIALIZED VEHICLE</h3>
       </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>
    
<h1>BIKE RENTAL SHOP MADHAPUR,GUTTALA BEGUMPET,HYDERABAD</h1>
          </p>

<p> <h5>Office Location:</h5> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30449.884437816803!2d78.37413605483056!3d17.448436284676827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9158f201b205%3A0x11bbe7be7792411b!2sMadhapur%2C%20Telangana!5e0!3m2!1sen!2sin!4v1657564913769!5m2!1sen!2sin" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <h5> Courtesy:Thanks for Google service </h5>
</div>
*@