
@{
    ViewData["Title"] = "Tariffs";
}

<h1>Bike rental tariffs in Hyderabad</h1>

    <div class="card-group">
        <div class="card">
  <img src="~/css/RE Classic.jpeg" class="card-img-top" alt="RE">
  <div class="card-body">
    <h5 class="card-title">Fancy Collection Available</h5>
    <p class="card-text"> Rental per Hour - Rs.350
                          Weekly Tariff options also Available
                          Go and Pick the Vehicle in the List you Want!
    </p>
    <a class="btn btn-danger btn-outline-dark" asp-controller="Login" asp-action="Login" role="button">Book Now</a>
  </div>
 </div>
 
 
 <div class="card">
  <img src="~/css/scooty.jpg" class="card-img-top" alt="RE">
  <div class="card-body">
    <h5 class="card-title">Scooty Collections for Family</h5>
    <p class="card-text"> Rental per Hour - Rs.200
                          Weekly Tariff options also Available
                          Go and Pick the Vehicle in the List you Want!
    </p>
    <a class="btn btn-danger btn-outline-dark" asp-controller="Login" asp-action="Login" role="button">Book Now</a>
  </div>
 </div>
 
 <div class="card">
  <img src="~/css/bike collections.jpg" class="card-img-top" alt="RE">
  <div class="card-body">
    <h5 class="card-title">Normal Gear Vehicles Collections Available</h5>
    <p class="card-text"> Rental per Hour - Rs.250
                          Weekly Tariff options also Available
                          Go and Pick the Vehicle in the List you Want!
    </p>
    <a class="btn btn-danger btn-outline-dark" asp-controller="Login" asp-action="Login" role="button">Book Now</a>
  </div>
 </div>
 </div>
