@model RentalSystems.Models.Customer

@{
    ViewData["Title"] = "CustomerCreate";
}

<h1>CustomerCreate</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CustomerCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class ="form-control" asp-items="ViewBag.VehicleId"></select>
            </div>
            

            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" placeholder="Name as per Aadhaar" value="@ViewBag.Username" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Email_Id" class="control-label"></label> 
@*                //SET-->LOGINCONTROLLER
                  //GET-->CUSTOMERSCONTROLLER
                  //CREATE-->CSHTML
*@               
                <input asp-for="Email_Id" placeholder="Valid EmailId" value="@ViewBag.EmailId" class="form-control" />
                <span asp-validation-for="Email_Id" class="text-danger"></span>
            </div>
             
           
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" placeholder="Enter the Date and Time" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate"placeholder="Enter the Date and Time" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProof" class="control-label"></label>
                <input asp-for="IdProof" type="file" class="form-control" />
                <span asp-validation-for="IdProof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="VehicleList">Skip</a>
</div>

